<section class="topic">
  <h2>Work Experience</h2>
  <section *ngFor="let exp of workExperience">
    <h3>{{exp.title}}, {{exp.company}} ({{exp.end ? exp.start + ' - ' + exp.end : 'since ' + exp.start}})</h3>
    <ul>
      <li *ngFor="let item of exp.descriptionItems">{{item}}</li>
    </ul>
  </section>
</section>

<section class="topic">
  <h2>Education</h2>
  <section *ngFor="let edu of education">
    <h3>{{edu.title}}, {{edu.school}} ({{edu.graduationDate}})</h3>
    <p>{{edu.description}}</p>
  </section>
</section>
